# Virtual Environments
venv/
venv.bak/
.venv/

# Environment variables
.env

# IDE / Editor
.vscode/

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Logs
*.log
logs/

# Chrome Extension (build artifacts if any)
*.crx
*.pem
*.zip
